body
{
 background-size: cover;
}
button{
    font-size: large;
}
#ok{
    width: 100%;
    color: crimson;
    background-color: chartreuse;
    margin:0;
}
#a{
color: blue;
border:darkviolet double ;
width: fit-content;
float:right;

}